@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.bg-open-menu {
  background-image: url('../sources/icon-hamburguer.svg');
}

.bg-close-menu {
  background-image: url('../sources/icon-close.svg');
}
.bg-principalColor {
  --tw-bg-opacity: 1;
  background-color: rgb(221 255 187 / var(--tw-bg-opacity));
}


@layer components {
  .utilidad{
      @apply w-[95%] mx-auto overflow-hidden;
  }
  .btn{
      @apply bg-color4 text-yellow-50 text-xl font-semibold block py-2 px-4 rounded-full min-w-fit;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


